#title {
    font-size: 1.5rem;
    text-align: center;
}

#landing-page {
    background: linear-gradient(rgba(80, 68, 18, .3) 100%, transparent), url("images/Kost.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 10rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

#landing-page h2 {
    margin: 0;
    color: white;
    font-size: 3rem;
}

#landing-page h2::first-letter {
    font-size: 5rem;
    color: rgb(199, 217, 255);
}

.card {
    padding: 1.2rem;
    background-color: #FFEAC5;
    border: 3px solid #FFEAC5;
    border-radius: 30px;
    min-width: 21rem;
}

.card:hover,
.card:active {
    background-color: #6C4E31;
    border-color: #6C4E31;
    color: white;
    box-shadow: 0 0 2rem .5rem #6C4E31;
}

@media (max-width: 40rem) {
    #landing-page {
        padding: 0;
        grid-template-columns: none;
        text-align: center;
        margin-bottom: 10rem;
        position: relative;
    }

    #landing-page .card {
        position: absolute;
        bottom: -10rem;
        margin: 5%;
    }
}